body{
    margin: 0;
}
#main{
    display: grid;
    grid-template-areas: 'header'
                            'nav'
                            'aside'
                            'section'
                            'article'
                            'footer';
    grid-template-rows:  40px 200px 30px 30px 30px 30px 30px;
                        
}
            /* Configuração Header */
header{
    grid-area: header;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.loginCadastro a{
    text-decoration: none;
    padding-left: 20px;
}
.loginCadastro{
    padding-right: 30px;
    
}
.sideBarLeft, .sideBarRight {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.sideBarLeft{
    justify-content: left;
    padding-left: 30px;
}
/* .sideBarLeft{
    justify-content: space-around;
} */


                /* Fim header */
nav{
    grid-area: nav;
    background-color:beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    width: 60%;
    text-align: center;
    padding: 20px 0 0 20px;
    
}
            /* Fim nav */
aside{
    grid-area: aside;
    background-color: antiquewhite;
}
section{
    grid-area: section;
    background-color: beige;
}
article{
    grid-area: article;
    background-color: antiquewhite;
}

footer{
    grid-area: footer;
    background-color: darkgray;
}

