{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Give Away</title>
</head>

<body>
    <div id="main">
        <header class="sideBar">
            <div class="sideBarLeft">
                <div>
                    <h4>icone</h4>
                </div>

            </div>
            <div class="sideBarRight">
                <div>
                    Pesquisa <input type="text">
                    <button>Buscar</button>
                </div>
                <div class="loginCadastro">
                    <a href="{% url 'cadastro' %}">Cadastro</a>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>


        </header>
        <nav>
            <div class="intro">
                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fugit vero, rerum ipsum animi
                    possimus doloribus nihil laboriosam neque laborum mollitia ipsam? Iure dicta, quaerat possimus
                    ipsam dignissimos dolores laudantium?
                </h3>
            </div>

        </nav>
        <aside>
            <div>
                <button>
                    <img src="{% static 'imagens/back.png' %}" alt="back">
                </button>
                <h1>Conteudo</h1>
                <button>
                    <img src="{% static 'imagens/next.png' %}" alt="next">
                </button>
            </div>
        </aside>
        <section>Section</section>
        <article>Article</article>
        <footer>Footer</footer>
    </div>
</body>

</html>