{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="/static/js/script.js"></script>

</head>
<body>
    <div class="main">
        <img src="" alt="">
        <div class="loginBox">
            <h2>Login</h2>
            <h3>Email ou usuário</h3>
            <input type="email" name="user" id="2">
            <h3>Senha</h3>
            <input type="password" name="password" id="">
        </div>
    </div>
</body>
</html>